html
  head
   title documento basico
  body
    h1 documento basico
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum vel veniam aliquid sapiente, quia accusamus suscipit iste nihil ipsa quis impedit numquam, harum, labore perferendis recusandae aspernatur tenetur voluptates cumque.