a(name='inicio')
h2 enlaces
a(href='http://www.google.com.co') ir a google
&nbsp;| &nbsp;
a(href='http://www.yahoo.com') ir a yahoo
&nbsp;| &nbsp;
a(href='http//www.youtube.com') ir a youtube
h2 anclas
a(href='#info1') ir a informacion 1
&nbsp;| &nbsp;
a(href='#info2') ir a informacion 2
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
a(href='#inicio') ir a inicio
h1 informacion 1
a(name='info1')
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, hic ipsam amet ipsa sequi, repellat ut, officia itaque velit nihil eum. Modi enim molestiae blanditiis in omnis perspiciatis sit, aliquam?
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
br 
a(href='#inicio') ir a inicio
h1 informacion 2
a(name='info2')
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, hic ipsam amet ipsa sequi, repellat ut, officia itaque velit nihil eum. Modi enim molestiae blanditiis in omnis perspiciatis sit, aliquam?


