doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Lista No Ordenada
  body
    ul
      li Amarillo
      li Azul
      li Rojo
      li Blanco
      li Verde
    ul
      li Seria A
        ul
          li Inter de Milan
          li Juventus
          li Milan
      li Liga BBVA
        ul
          li Atletico de Madrid
          li Barcelona
          li Valencia
      li Liga Aguila
        ul
          li O11CE CALDAS
          li Millonarios
          li Junior