doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title imagenes
  body
    img(src="http://www.capital.cl/wp-content/uploads/2015/04/google_gameofthrones.jpg" tittle="imagen de internet" width="320px")
    img(src="http://www.capital.cl/wp-content/uploads/2015/04/google_gameofthrones.jpg" width="160px")
    img(src="http://www.capital.cl/wp-content/uploads/2015/04/google_gameofthrones.jpg" width="80")