doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tablas
  body
    table(border=1)
      tr
        th Nombre Completo
        th Teléfono
        th Dirección
      tr
        td Jeremias Springfield
        td 8741122
        td Calle 11 #7A - 32
      tr
        td Homero Simpson
        td 8834455
        td Calle Siempre Viva
      tr
        td MilHouse Van Houten
        td 8827788
        td Cra 22 #23