doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title embed (html5)
  body
    h1 tipos de entradas (formulario)
    hr
    form(method='post')
    //color---------
    label(for='color') color:
    input(type='color', id='color')
    br
    br
    //fecha--------
    label(for='fecha') fecha:
    input(type='date', id='date')
    br
    br
    //email-------
    label(for='correo') correo:
    input(type='email', id='email')
    br
    br
    //month-------
    label(for='mes') mes:
    input(type='month', id='month')
    br
    br
    //number-------
    label(for='numero') numero:
    input(type='number', id='number')
    br
    br
    //range-------
    label(for='rango') rango:
    input(type='range', id='range')
    br
    br
    //search-------
    label(for='busqueda') busqueda:
    input(type='search', id='search')
    br
    br 
    //time-------
    label(for='hora') hora:
    input(type='time', id='time')
    br
    br 
    //url-------
    label(for='url') url:
    input(type='url', id='url')
    br
    br
    //week-------
    abel(for='semana') semana:
    input(type='week', id='week')
    br
    br