doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title elementos de entradas (formulario)
  body
    h1 elementos de entradas (formulario)
    hr 
    form(method='post')
      label(for='lenguajes') lista de lenguajes de programacion
      input(list='lenguajes') 
      datalist(id='lenguajes') 
        option(value='python') python
        option(value='ruby') ruby
        option(value='php') php
        option(value='c#') c#
    br
    br
    label(for='generador') generador de claves:
    keygen(id='generador')
    br
    br
    label(for='salida') salida
    input(type='range', id='rango', oninput='salida.value=this.value')
    output(id='salida') 0
    