section {
  margin: 20px auto;
  width: 500px;
}
article {
  text-align: center;
}
div {
  background-color: #c0c0c0;
  display: inline-block;
  height: 100px;
  font: 12px Tahoma;
  line-height: 40px;
  margin: 0px 0px -4px -4px;
  overflow: hidden;
  vertical-align: top;
  width: 100px;
}
div span {
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  display: block;
  height: 40px;
  opacity: 0;
  transform: translateY(-54px);
  transition: all 0.2s ease-in;
}
div:hover span {
  opacity: 1;
  transform: translateY(0px);
}
.maroon {
  background-color: #7f0000;
}
.red {
  background-color: #f00;
}
.orange {
  background-color: #ffa600;
}
.yellow {
  background-color: #ff0;
}
.olive {
  background-color: #7f7f00;
}
.purple {
  background-color: #7f007f;
}
.fuchsia {
  background-color: #f0f;
}
.white {
  background-color: #fff;
}
.lime {
  background-color: #0f0;
}
.green {
  background-color: #007f00;
}
.navy {
  background-color: #00007f;
}
.blue {
  background-color: #00f;
}
.aqua {
  background-color: #0ff;
}
.teal {
  background-color: #007f7f;
}
.black {
  background-color: #000;
}
.silver {
  background-color: #c2c2c2;
}
.gray {
  background-color: #7f7f7f;
}
