doctype
html(lang="es")
head
  meta(charset="UTF-8")
  title ejemplo rutas relativas
  link(href='estilos.css', rel='stylesheet')
body
  .marcoppal
    .encabezado
       a(href="javascript:;") inicio
       a(href="secciones/nosotros.html") nosotros
       a(href="secciones/servicios.html") servicios
       a(href="secciones/contacto.html") contacto
     .contenido
       h1 bienvenidos a mi sitio web
        //img(src='imagenes/index.png')
       p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt vitae explicabo cumque eum cum voluptatibus voluptas inventore sed itaque temporibus beatae facilis voluptatem nemo, assumenda quibusdam dolor tenetur ducimus molestiae recusandae excepturi nisi. Itaque, quas in modi qui! Recusandae est dolorem quos asperiores deleniti molestias neque, veritatis, consequuntur, culpa cum delectus accusamus repellat pariatur ipsa quia officia non nesciunt maiores porro corporis tenetur doloribus voluptas. Unde nisi nobis officiis non quod magnam magni, voluptas impedit dolorum illo quis blanditiis rem veritatis. Modi aperiam nulla vero consequatur eaque fuga, doloremque vitae, labore itaque dolorem nobis saepe provident autem accusantium molestias!
      .pie
        p todos los derechos reservados 2016