doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Comentarios (jade)
  body
    h1 Comentarios (jade)
    // Esto es un simple comentario de linea, si se ve en html
    
    //- Este comentario no se ve en html
    
    //-
       Multiples Lineas
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quasi cupiditate ab consequatur mollitia quidem, molestias praesentium, nemo modi ducimus possimus itaque ipsam, quis? Ipsum accusamus repellat aspernatur atque adipisci.