//- 07_herencia.jade
extends ./layout.jade

block title
  title Título del Artículo

block content
  h1 Mi Artículo
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cumque adipisci placeat cupiditate, qui sed earum labore reiciendis nam! Illo iste quis eos repellendus neque nemo doloremque consequuntur beatae nostrum.