/* selector universal */
* 
  font 1em arial
/* selector de tipo o etiqueta */
section
  background-color green
  margin 20px auto
  padding 20px
  width 800px
/* selector descendente */
section article h2
  font-size 1.4em
section article p
  text-align justify
/* slector clase */
.claro 
  background-color pink
.oscuro
  background-color red
.rojo 
  color blue
.blanco 
  color purple
  
.mayuscula
  text-transform uppercase
.minuscula
  text-transform lowercase
/* selector ID */
#parr1
  padding 10px
#parr2
  color silver
/* selector combinado */
section article h2.rojo
  font-weight bold
section article p#parr1
  color gray