section
  margin 20px auto
  width 500px
article
  text-align center
div
  background-color silver
  display inline-block
  height 100px
  font 12px Tahoma
  line-height 40px
  margin 0px 0px -4px -4px
  overflow hidden
  vertical-align top
  width 100px
div span 
	background-color: rgba(0, 0, 0, 0.7)
	color white
	display block
	height 40px
	opacity 0
	transform translateY(-54px)
	transition all 0.2s ease-in
div:hover span
	opacity 1
	transform translateY(0px)
.maroon 
	background-color rgb(50%,0%,0%)
.red 
	background-color rgb(100%,0%,0%)
.orange 
	background-color rgb(100%,65%,0%)
.yellow 
	background-color rgb(100%,100%,0%)
.olive 
	background-color rgb(50%,50%,0%)
.purple 
	background-color rgb(50%,0%,50%)
.fuchsia 
	background-color rgb(100%,0%,100%)
.white 
	background-color rgb(100%,100%,100%)
.lime 
	background-color rgb(0%,100%,0%)
.green 
	background-color rgb(0%,50%,0%)
.navy 
	background-color rgb(0%,0%,50%)
.blue 
	background-color rgb(0%,0%,100%)
.aqua 
	background-color rgb(0%,100%,100%)
.teal 
	background-color rgb(0%,50%,50%)
.black 
	background-color rgb(0%,0%,0%)
.silver 
	background-color rgb(76%,76%,76%)
.gray 
	background-color rgb(50%,50%,50%)