
article
	border-color #F30F0F
	border-style solid
	height 250px
	width 250px
article.box1
	/* ancho de bordes - forma larga*/
	border-top-width thin
	border-right-width 20px
	border-botton-width thick
	border-left-width medium
	/* ancho de bordes - forma corta */
	border-width thin 20px thick medium
article.box2
	/* colores bordes- forma larga*/
	border-top-color #ff0
	border-rigth-color #00f
	border-bottom-color #f00
	border-left-color #f0f
	/* colres bordes- forma corta*/
	border-color #ff0 #00f #f00 #f0f		
article.box3
	/* estilos bordes - forma larga*/
	border-top-style solid
	border-rigth-style dotted
	border-bottom-style dashed
	border-left-style double
	/* estilos bordes - forma corta*/
	border-style solid dotted deshed double
article.box4
	/** bordes - shortahand*/
	border 10px dotted #1F44CD